<!DOCTYPE html>
<html>
  <head>
    <title>KOYANAGI NO BLOG</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

  <header class="header">

    <div class ="header--top">

     <a class ="blogtitle" href="/">    <i class="fa fa-layer-sircle"></i>KOYANAGI NO BLOG<i class="fa fa-magento"></i></a>

         </div>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <div class="logouttag">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>
        <div class="sendtag">
          <a class="post" href="/tweets/new">Write</a>
        </div>
      </div>
      <% else %>
        <div class="logintag">
          <%= link_to "Log in", new_user_session_path, class: 'post' %>
        </div>
        <div class="newtag">
          <%= link_to "Sign up", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
  </header>

    <%= yield %>


  </body>
</html>
